# A RequireMents File of all the Packages Installed on the Version of PIP we used for Django Project.
# Many of these should have been updated but that should not affect the project integrity unless they were majorly changed
# If that happens, you will need to install a older/legacy version of that package in pip that is more related to the required packages below.
asgiref==3.2.7
certifi==2022.12.7
chardet==3.0.4
Django==3.0.5
idna==2.9
pytz==2019.3
requests==2.32.2
sqlparse==0.3.1
stripe==2.45.0
urllib3==1.25.8

