{% extends "phone/base.html" %}
{% block content %}


<!--Page Content-->
<h1 class="home-h1">MJ-Phones Accesories</h1>
<div class="device-product-div">

<!--Change with a For Each that grabs from database while keeping css-->
<!--Each Device Item-->

    {% for accessory in accessories %}
    <div id={{ accessory.id }} class="border-top rounded">
        
        <div class="info">
        <h2 class="d-title">{{ accessory.name}}</h2>
        <img class="device-images border" src="{{ accessory.image }}" alt="s20"> <!--End of device-images border-->
        <p><b>Description: </b> {{ accessory.description }} </p>
        <h5 style="color:red">Price: € {{ accessory.price }} </h5>
        </div> 

        <!--Buttons to Buy Item-->
        <div class="buy-buttons-accessories">
        <button class="btn btn-info"><i class="fa fa-cc-paypal"></i> Buy Now</button>
        <button class="btn btn-info"><i class="fa fa-cart-plus"></i> Add to Basket</button>
        </div> <!-- End of Buy-Buttons Div -->

    </div> <!-- End of Border-top Rounded -->
    {% endfor %}
</div> <!-- End of Device-Product-Div -->

    
{% endblock content %}
