<!--Extend Base.html-->
{% extends "phone/base.html" %}
<!--Display Block Content from Base.html-->
{% block content %}
{% load static %}
<!-- Order Table CSS -->
<link rel="stylesheet" href="{% static 'orders.css'%}">


<h1 class="home-h1">Your Orders</h1>
<div class="orderDiv">
<h4 style='color:white;'> All Orders Should Arrive Within 4-5 Working Days, If there is issues with an order. Please Contact Us at our Email Below</h4>
    <table style="">
        <tr class="topRows">
            <td>Reference No#</td>
            <td>Product Name</td>
            <td>Date Ordered</td>
        </tr>
    <!--For Each Order in the Orders Model Display Information-->
    {% for order in orders %}
         <tr>
            <td class="reference">{{order.referrence}}</td>
            <!--If its a Phone Name Show Product Name as Phone Name else Show Product Name as an Accessory Name-->
            {% if order.phoneName is not None %}
                <td>{{ order.phoneName }}</td>
            {% elif order.accessoryName is not None %}
                <td>{{ order.accessoryName }}</td>
            {% endif %}
            <td>{{order.date_ordered}}</td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock content %}