{% extends "phone/base.html" %}
{% block content %}

<!--Start of Login Section -->
    <div class="content-section" style="margin-top:30px">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                <!--Retrieved from forms.py-->
                {{ form.as_p }}
                {{ profile_form.as_p }}
            </fieldset>
            <!--Submit the POST from the Login Form UserName,Password -->
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>
        <!-- If User is Required to Sign UP -->
        <div class="border-top pt-3">
            <small class="text-muted">
            Need An Account? <a href="{% url 'MJ-Phones-Register' %}" class="ml-2">Sign Up Now</a>
            </small>
        </div>
    </div>

{% endblock content %}
